.emacs-backups
auto-save-list
*.elc
tramp
elpa
auto-install
anything-c-adaptive-history
.backups
*~
saved-places
var/
*.dat
autosaves
eshell/history
eshell/lastdir
url/cookies
projectile-bookmarks.eld
projectile.cache